.swiper-button-prev,
.swiper-button-next {
  border: none;
  background: transparent;
  color: var(--textColorSecondary);
  opacity: 0.3;
  z-index: 1;
}
@media (width < 1025px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
